div{
	height: 200px;
	width: 200px;
	background-color: red;
	position: absolute;
	top: 20%;
	left: 20%;
	animation: bounce 2s linear;
}
@keyframes bounce{
	20%,50%,80%,to{
		transform: translateY(0);	
	}
	40%{
		transform: translateY(-250px);
	}
	70%{
		transform: translateY(-150px);
	}
		90%{
		transform: translateY(-50px);
	}

}
